# ==============================
# JAVA / MAVEN
# ==============================
target/
*.log
.mvn/
.idea/
.vscode/

# ==============================
# OS
# ==============================
.DS_Store

# ==============================
# ENV
# ==============================
.env
*.env

# ==============================
# TERRAFORM (CRITICAL)
# ==============================
**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
.terraform.lock.hcl

# ==============================
# OPTIONAL IGNORE
# ==============================
backend/target/
