spring:
  application:
    name: walkme-backend

  datasource:
    url: jdbc:postgresql://postgres:5432/walkme_db
    username: walkme_user
    password: walkme_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  health:
    db:
      enabled: true
